@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Variables
********************************/
:root {
    --text-size-xs: 8px;
    --text-size-sm: 10px;
    --text-size-md: 12px;
    --text-size-lg: 14px;
    --text-size-xl: 16px;

    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 30px;
    --space-xl: 60px;

    --transition-standard-duration: 0.3s;
    --transition-tab-duration: 0.5s;

    --bg-overlay: rgba(0, 0, 0, 0.8);

    --size-alert-max-height: 80px;
    --size-menu-height: 30px;
    --size-menu-width: 30px;
    --size-store-image: 24px;
    --size-switcher-image: 40px;

    @include mq-up(xs) {
        --size-alert-max-height: 150px;
    }
}