@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Variables
********************************/
:root {
    --bg-primary: rgb(42, 42, 42);
    --bg-secondary: rgb(91, 91, 91);

    --accent-primary: rgb(165 91 67);
    --accent-secondary: rgb(150, 80, 60);
    --accent-tertiary: rgb(173, 82, 54);

    --accent-primary-80: rgba(133, 69, 49, 0.8);
    --accent-primary-60: rgba(133, 69, 49, 0.6);
    --accent-primary-40: rgba(133, 69, 49, 0.4);
    --accent-primary-20: rgba(133, 69, 49, 0.2);

    --accent-secondary-80: rgba(150, 80, 60, 0.8);
    --accent-secondary-60: rgba(150, 80, 60, 0.6);
    --accent-secondary-40: rgba(150, 80, 60, 0.4);
    --accent-secondary-20: rgba(150, 80, 60, 0.2);

    --border-primary: rgb(20, 20, 20);

    --text-on-accent: rgb(10, 10, 10);
    --text-on-accent-alt: rgb(225, 225, 225);

    --text-size-xs: 8px;
    --text-size-sm: 10px;
    --text-size-md: 12px;
    --text-size-lg: 14px;
    --text-size-xl: 16px;

    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 30px;
    --space-xl: 60px;

    --transition-standard-duration: 0.3s;
    --transition-tab-duration: 0.5s;

    --bg-overlay: rgba(0, 0, 0, 0.8);

    --size-alert-max-height: 80px;
    --size-menu-height: 30px;
    --size-menu-width: 30px;
    --size-store-image: 24px;
    --size-switcher-image: 40px;

    @include mq-up(xs) {
        --size-alert-max-height: 150px;
    }
}

body.light {
    --bg-primary: rgb(215, 215, 215);
    --bg-secondary: rgb(225, 225, 225);

    --accent-primary: rgb(133, 69, 49);
    --accent-secondary: rgb(150, 80, 60);
    --accent-tertiary: rgb(96, 45, 30);

    --accent-primary-80: rgba(133, 69, 49, 0.8);
    --accent-primary-60: rgba(133, 69, 49, 0.6);
    --accent-primary-40: rgba(133, 69, 49, 0.4);
    --accent-primary-20: rgba(133, 69, 49, 0.2);

    --accent-secondary-80: rgba(150, 80, 60, 0.8);
    --accent-secondary-60: rgba(150, 80, 60, 0.6);
    --accent-secondary-40: rgba(150, 80, 60, 0.4);
    --accent-secondary-20: rgba(150, 80, 60, 0.2);

    --border-primary: rgb(51, 51, 51);

    --text-on-accent: rgb(225, 225, 225);
    --text-on-accent-alt: rgb(10, 10, 10);
}