<div class="bg"></div>
<header>
    <div id="rh-header">
        <div id="rh-header-box">
            <div class="rh-header-left"></div>
            <div class="rh-header-middle">
                <div class="rh-info-text">
                    <a href="URL" class="rh-info-nav">RULES</a>
                    <a href="URL" class="rh-info-nav">SETTING</a>
                    <a href="URL" class="rh-info-nav">MEMBERS</a>
                    <a href="URL" class="rh-info-nav">FACE CLAIMS</a>
                    <a href="URL" class="rh-info-nav">MODERATION</a>
                    <a href="URL" class="rh-info-nav">CODE BANK</a>
                    <a href="URL" class="rh-info-nav">ADVERTISE</a>
                </div>
                <div class="rh-info-img">
                    <img src="https://picsum.photos/600/300.jpg">
                </div>
                <div class="rh-info-text">
                    <div class="rh-info-staff">
                        <img src="https://picsum.photos/100/100.jpg">
                    </div>
                    <div class="rh-info-staff">
                        <img src="https://picsum.photos/100/100.jpg">
                    </div>
                    <div class="rh-info-staff">
                        <img src="https://picsum.photos/100/100.jpg">
                    </div>
                </div>
            </div>
            <div class="rh-header-right"></div>
        </div>
        <div id="rh-header-text">
            <a href="@@prefix/public/index.html">
                <h1>reckless heart</h1>
                <div class="rh-tagline">-- maybe you could be someone --</div>
            </a>
        </div>
    </div>
</header>