@import '../global/mixins.scss';
@import '../global/extensions.scss';

/*******************************
    Profile
********************************/
.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;

    .profile--header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 2em;
    }

    &--account {
        display: grid;
        grid-template-columns: var(--size-switcher-image) auto;
        gap: var(--space-sm);

        &-image {
            width: var(--size-switcher-image);
            height: var(--size-switcher-image);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}